* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Hind", sans-serif;
  color: #212529;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}

header .navbar .nav-item.active a {
  color: #35a22c;
}

.navbar {
  padding: 0.5rem 1rem;
}

.navbar-brand {
  font-size: 36px;
}

header .nav-item {
  position: relative;
  margin: 0 10px;
}

header .nav-item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: #35a22c;
  transition: 0.5s;
}

header .nav-item:hover a::before {
  width: 100%;
}

/* CAROUSEL */

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item {
  height: 100vh;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-caption img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.carousel-caption h5 {
  font-size: 56px;
  line-height: 65px;
}

.carousel-caption p {
  font-size: 24px;
}

.overlay {
  background: rgba(39, 43, 54, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10%;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: none;
}

.carousel-indicators li.active {
  background-color: #35a22c;
}

/* PROJECTS */

.heading h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}

.heading p {
  color: #585858;
  line-height: 24px;
}

.nav-pills {
  justify-content: center;
  border: none;
}

.nav-item {
  margin: 0 5px;
}

.nav-pills .nav-link {
  background: none;
  border: 1px solid black;
  display: block;
}

.nav-pills .nav-link.active {
  background: #35a22c;
  border: 1px solid transparent;
}

.card {
  margin-top: 30px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.13);
  cursor: pointer;
}

.card img {
  vertical-align: middle;
  border-style: none;
  overflow: hidden;
}

.projects__item .card-body {
  border: 1px solid transparent;
  border-radius: 0 0 1rem 1rem;
  transition: all 0.5s;
}

.projects__item:hover .card-body {
  border-color: #35a22c;
  border-top-color: transparent;
}

/* FEATURE */
.feature {
  background: url(./image/3.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
}

.feature .overlay {
  background: rgba(7, 10, 12, 0.72);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.feature__item {
  padding: 40px 40px;
  transition: 0.3s;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}

.feature__item i {
  font-size: 48px;
  color: #35a22c;
}

.feature__item h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}

.feature__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.feature__item:hover {
  background: #000;
  border-color: #fff;
}

/* AWARD */

.award {
  position: relative;
  color: #585858;
  padding: 70px 0;
}

.award__bg {
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.award__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  padding: 45px;
}

.award__left h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}

.award__left p {
  color: #585858;
  line-height: 24px;
}

.award__right {
  padding: 45px 0;
}

/* FOOTER */

footer {
  background-color: #222;
}

.footer__main a {
  margin-right: 10px;
  color: #aaa;
}

.footer__main i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
}

footer a:hover {
  text-decoration: none;
  color: #35a22c;
}

.footer__main i:hover {
  border-color: #35a22c;
}

.footer__copies {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}

footer p {
  color: #aaa;
  margin: 0;
}

/* responsive */
